<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.sika.mapper.AnswerMapper">

    <select id="queryAnswerById" resultType="cc.sika.api.bean.po.Answer" parameterType="_int">
        SELECT *
        FROM answer
        WHERE answer_id = #{answerId}
    </select>
    <select id="queryAnswerContentById" resultType="java.lang.String">
        SELECT answer_content
        FROM answer
        WHERE answer_id = #{answerId}
    </select>
    <select id="queryAnswerIdByQueId" resultType="java.lang.Integer">
        SELECT answer_id
        FROM answer
        WHERE question_id = #{questionId}
    </select>
    <select id="queryContentByQueId" resultType="java.lang.String">
        SELECT answer_content
        FROM answer
        WHERE question_id = #{questionId}
    </select>


    <!--***********************************************************-->

    <delete id="deleteAnswerById" parameterType="_int">
        DELETE
        FROM answer
        WHERE answer_id = #{answerId}
    </delete>

    <insert id="addAnswer" parameterType="cc.sika.api.bean.po.Answer">
        INSERT INTO answer (answer_content)
        VALUES (#{answerContent})
    </insert>
    <insert id="addAnswerList" parameterType="cc.sika.api.bean.po.Answer" useGeneratedKeys="true"
            keyProperty="answerId">
        INSERT INTO
        answer (answer_content, answer_image, question_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.answerContent}, #{item.answerImage}, #{item.questionId})
        </foreach>

    </insert>

    <update id="updateAnswer" parameterType="cc.sika.api.bean.po.Answer">
        UPDATE answer
        SET answer_content = #{answerContent}
        WHERE answer_id = #{answerId}
    </update>
    <update id="updateQueId">
        UPDATE answer
        SET question_id = #{questionId}
        WHERE answer_id = #{answerId}
    </update>
</mapper>