<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.sika.mapper.QuestionMapper">
    <!-- DML -->
    <insert id="addQuestion">
        INSERT INTO question (question_type, question_content, question_image, question_description, answer_id,
                              question_topic)
        VALUES (#{questionType}, #{questionContent}, #{questionImage}, #{questionDescription}, #{answerId},
                #{questionTopic})
    </insert>

    <update id="updateQuestion" parameterType="question">
        UPDATE question
        SET question_type        = #{questionType},
            question_content     = #{questionContent},
            question_image       = #{questionImage},
            question_description = #{questionDescription},
            answer_id            = #{questionAnswer},
            question_topic       = #{questionTopic}
        WHERE question_id = #{questionId}
    </update>
    <update id="updateQueAnswer">
        UPDATE question
        SET answer_id = #{answerId}
        WHERE question_id = #{questionId}
    </update>

    <delete id="deleteQuestion" parameterType="_int">
        DELETE
        FROM question
        WHERE question_id = #{questionId}
    </delete>


    <!-- DQL -->
    <select id="queryQuestionById" resultType="cc.sika.api.domain.Question">
        SELECT *
        FROM question
        WHERE question_id = #{questionId}
    </select>

    <select id="queryQuestionByTopic" resultType="cc.sika.api.domain.Question">
        SELECT *
        FROM question
        WHERE question_topic = #{topicName}
    </select>

    <select id="queryAllQuestion" resultType="cc.sika.api.domain.Question">
        SELECT *
        FROM question
    </select>
</mapper>